parameters:
  paths:
    - src
  level: 9
  tmpDir: report/phpstan
  ignoreErrors:
    - '#method#'
    - '#expects#'
    - '#should return#'
    - '#type mixed supplied#'
    - '#not specify its types#'
    - '#no value type specified#'
  reportUnmatchedIgnoredErrors: false
